// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Greys
$gray-base:                             #000 !default;
$gray-darker:                           lighten($gray-base, 13.5%) !default; // #222
$gray-dark:                             lighten($gray-base, 20%) !default;   // #333
$gray:                                  lighten($gray-base, 40.5%) !default; //
$gray-light:                            lighten($gray-base, 74.7%) !default; // #bebebe
$gray-lighter:                          lighten($gray-base, 93.5%) !default; // #eee

// Colors
$white:                 #fff;
$black:                 #000;
$brand-primary:         #076633;
$brand-secondary:       #ffed00;

// fonts
$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-family:    "HandelGotD-Med", Helvetica, Arial, sans-serif !default;
$font-size-base:          16px !default;
