@import "common/variables";

$icon-font-path: "../fonts/";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// New setup
/*
  remove bootstrap and install bootstrap-sass
  bower install --save slick-carousel
  main.js - add in the shrink header script
  header.php - copy bootstrap version of header
  _navbar.scss - create this file
  copy the content-foo.php, template-foo.php, page-header-foo.php
	bower install fontawesome and add in path to fonts in main.scss
	add_theme_support for custom logo
*/

@import "common/navbar";
@import "components/carousel";

/* shrink the navbar - unshrunk state */
header {
	-webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.shrink {
  height:$navbar-height / 1.2!important;
  min-height:$navbar-height / 1.2!important;
  transition: 0.33s ease-in;
  background-color:rgba(0,0,0,0.5);

  .menu-main-nav-container {
    height:$navbar-height / 1.4;

      .navbar-nav {
        padding-top:10px;
      }
  }
}

/* carousel on the home page */
.carousel-wrapper {
  // position:absolute;
  // top: 0;
  // left: 0;
}

.carousel-caption {
	background-color: rgba(7, 102, 51, 0.75);
	border-bottom:3px solid $brand-secondary;
	border-top:3px solid $brand-secondary;
	font-family: $headings-font-family;
	font-size: $font-size-h1 * 1.25;
	text-transform: uppercase;
	text-shadow: none;
	color: $brand-secondary;
	padding: 20px 20px;
	margin-bottom: 50px;
	left: 0%;
	right: 0%;
}

.carousel-indicators {
	li {
		border-color: $brand-secondary;

		&.active {
			background-color: $brand-secondary;
		}
	}
}

// page header title
.page-header {
	//background-color: $brand-primary;
	// margin: 0;
	// width: 100%;
	// border-top:4px solid $brand-primary;
//	border-bottom:4px solid $brand-primary;

	h1 {
		color: $brand-primary;
		text-align: center;
		// margin-top: 0;
		// padding: 20px;
	}
}

.home {
	.wrap {
		.container {
			p {
				text-align: center;
			}
		}
	}
}

.home-sections {
	margin: 50px 0;
	p,
	h2 {
		text-align: center;
	}

	h2 {
		color: $brand-primary;
		margin-bottom: 30px;
	}


}

.hs-item {
	margin: 15px 0;
	position: relative;

	img {
		width: 100%;
		max-height: 188px;
	}

	.hs-item-title {
		color: $white;
		font-size: $font-size-base * 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;
		margin-left: 15px;
		margin-right: 15px;
		padding: 10px;
		text-align: center;
		background-color: rgba(7, 102, 51, 0.7);

		.btn {
			border: 0;
			padding: 0;
			background-color: transparent;
			color: $white;
		}
	}
}

footer {
	border-top: 4px solid $brand-secondary;
	margin-top: 40px;
	background-color: $brand-primary;
	padding: 20px 0;

	h3 {
		color: $white;
		text-align: center;
		margin-bottom: 20px;
	}

	.footer-copy {
		color: $white;
		font-size: $font-size-base * 0.85;

		p {
			text-align: center;
		}

		a {
			color: $white;

			&:hover,
			&:active,
			&:visited {
				text-decoration: underline;
			}
		}
	}
}


// about page
.static-img-base {
	height:400px;
	background-size: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.static-img {

	&-about {
		@extend .static-img-base;
		background-image: url('./dev/wp-content/uploads/2017/03/slide-002.jpg');
	}
	&-services {
		@extend .static-img-base;
		background-image: url('./dev/wp-content/uploads/2017/03/slide-004.jpg');
	}

	&-contact {
		@extend .static-img-base;
		background-image: url('./dev/wp-content/uploads/2017/03/slide-003.jpg');
	}

}

// services
