@import "common/variables";

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// @import "common/global";
// @import "components/buttons";
// @import "components/comments";
// @import "components/forms";
// @import "components/grid";
// @import "components/wp-classes";
// @import "layouts/header";
// @import "layouts/sidebar";
// @import "layouts/footer";
// @import "layouts/pages";
// @import "layouts/posts";
// @import "layouts/tinymce";

// New setup
/*
  remove bootstrap and install bootstrap-sass
  bower install --save slick-carousel
  main.js - add in the shrink header script
  header.php - copy bootstrap version of header
  _navbar.scss - create this file
  copy the content-foo.php, template-foo.php, page-header-foo.php
	bower install fontawesome and add in path to fonts in main.scss
	add_theme_support for custom logo
*/

@import "common/navbar";


/* shrink the navbar - unshrunk state */
header {
	-webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.shrink {
  height:$navbar-height / 1.4!important;
  min-height:$navbar-height / 1.4!important;
  transition: 0.33s ease-in;
  background-color:rgba(0,0,0,0.5);

  .menu-main-nav-container {
    height:$navbar-height / 1.4;

      .navbar-nav {
        padding-top:10px;
      }
  }
}

/* carousel on the home page */
.carousel-wrapper {
  // position:absolute;
  // top: 0;
  // left: 0;
}

.carousel-caption {
	background-color: rgba(55, 55, 55, 0.25);
	font-size: $font-size-h1 * 1.25;
	text-transform: uppercase;
	text-shadow: none;
	color: $white;
	padding: 10px 20px;
	margin-bottom: 50px;
	left: 10%;
	right: 10%;
}
